/desktop.ini
/Etu__XAI_sur_données_tabulaires_—_Notebook_1.ipynb
/TD1_BreastCancer_XAI_Etu.ipynb
/XAI_Mini_Projets+Listes.ipynb
/XAI_Mini_Projets.ipynb
/XAI_Presentation_COCO.ipynb
/XAI_Vision.ipynb
/YOLO_GradCAM_XAI.ipynb